<a href="https://polly.elucidata.io/manage/workspaces?action=open_polly_notebook&amp;source=github&amp;path=ElucidataInc%2Fpolly-python%2Fblob%2Fmain%2FMiscellaneous%2FClass_polly_python%2Fomixatlas_class.ipynb&amp;kernel=elucidata%2FPython+3&amp;machine=small" target="_parent"><img alt="Open in Polly" src="https://elucidatainc.github.io/PublicAssets/open_polly.svg"/></a>

# Welcome to Polly Python3 Notebook.

OmixAtlas class of polly-python enables users to do the following:- 
1. Create, update an Omixatlas, get summary of an Omixatlas, 
2. Get schema of data at dataset, sample and feature level, 
3. Query metadata to find the dataset of interest, 
4. Download data, 
5. Save data to workspace and 
6. Data format converter functions

In [13]:
# please do not modify
from IPython.display import display_html
def restartkernel() :
    display_html("<script>Jupyter.notebook.kernel.restart()</script>",raw=True)

In [ ]:
!sudo pip3 install polly-python

In [11]:
from polly.auth import Polly
from polly.omixatlas import OmixAtlas
import os

#authentication before using Polly
AUTH_TOKEN=os.environ['POLLY_REFRESH_TOKEN'] 
polly = Polly()                              
polly.auth(AUTH_TOKEN)

#defining omixatlas object
omixatlas = OmixAtlas()

## Omixatlas Summary

### get_all_omixatlas

In [2]:
all_omix_atlas = pd.DataFrame.from_dict(omixatlas.get_all_omixatlas()['data'])
all_omix_atlas.head()

,repo_name,repo_id,indexes,diseases,organisms,sources,datatypes,dataset_count,disease_count,tissue_count,organism_count,cell_line_count,cell_type_count,drug_count,data_type_count,data_source_count,sample_count,normal_sample_count
0,atavistik,1650348922627,"{'gct_metadata': 'atavistik_gct_metadata', 'h5...",[none],[none],[none],[],1,1,1,1,0,0,0,0,1,0,0
1,gdx,1646370413059,"{'gct_metadata': 'gdx_gct_metadata', 'h5ad_met...",[],[],[],[],0,0,0,0,0,0,0,0,0,0,0
2,auron_data_lake,1613041985263,{'gct_metadata': 'auron_data_lake_gct_metadata...,"[melanoma, small cell lung carcinoma, breast n...","[homo sapiens, mus musculus, [homo sapiens]]","[geo, auron, pubmed, tcga]","[raw counts transcriptomics, transcriptomics]",234,94,89,3,107,66,512,2,4,17664,2695
3,hpa,1619514006627,"{'gct_metadata': 'hpa_gct_metadata', 'h5ad_met...",[normal],"[homo sapiens, sus (pig), mus musculus]",[hpa],"[transcriptomics, gene expression reliability]",1755,1,78,3,70,150,1,2,1,678,678
4,teddy,1615464367934,"{'gct_metadata': 'teddy_gct_metadata', 'h5ad_m...","[none, diabetes mellitus, type 1]",[homo sapiens],[metabolomics workbench],"[lipidomics, metabolomics]",34518,2,1,1,1,1,1,2,1,11565,0

### omixatlas_summary

In [3]:
#Get summary of a given omixatlas
omix_atlas_summary = pd.DataFrame.from_dict(omixatlas.omixatlas_summary('geo'))['data']
omix_atlas_summary

cell_line_count                                                     5683
cell_type_count                                                      872
data_source_count                                                      1
data_type_count                                                        3
dataset_count                                                      97374
datatypes              [transcriptomics, raw counts transcriptomics, ...
disease_count                                                       3897
diseases               [normal, neoplasms, breast neoplasms, obesity,...
drug_count                                                          1892
indexes                {'gct_metadata': 'geo_gct_metadata', 'h5ad_met...
normal_sample_count                                              1582461
organism_count                                                       299
organisms              [homo sapiens, mus musculus, rattus norvegicus...
repo_id                                                                9
repo_name                                                            geo
sample_count                                                     2226663
sources                                                            [geo]
tissue_count                                                        1106
Name: data, dtype: object

## Create Omixatlas
Data-admin can create an Omixatlas using polly-python. The function create takes in four parameters as described below.

new_repo = omixatlas.create("[display_name]", "[description]", 
                          repo_name ="[repo_name]" (optional), 
                          image_url = "[image_url]" (optional))

In [ ]:
new_omixatlas = omixatlas.create("Demo Omixatlas", "this is a demo omixatlas")
new_omixatlas

## Update Omixatlas
An Omixatlas can only be updated if it's licence is managed by an organization. Data-admin can update the following metadata of an Omixatlas:-

a. Metadata for an existing Omixatlas. The attributes that can be updated are display_name, description, and image_url. 

b. Adding components(i.e. Apps, Python Notebooks) to an existing Omixatlas.

omixatlas.update(repo_key, display_name = "display_name", description = "description",image_url = "url", components = [component_1])

component_1 = {"data_type": 'datatype', "component_id": id}
// example: {"data_type":["Transcriptomics"], "component_id":78}

In [ ]:
omixatlas.update("demo_omixatlas", display_name = "Demo Omixatlas 1", description = "this is revised description of demo omixatlas")

## Working with data schema

### Get schema of an Omixatlas
Users can fetch dataset and sample level schema for a given omixatlas.

omixatlas.get_schema(repo_key, schema_level, source, data_type)

In [4]:
#Store the dataset and sample level schema for all datatypes and sources in GEO Omixatlas
schema = omixatlas.get_schema("geo", ['dataset', 'sample'], "all", "all")

In [5]:
#Fetch the dataframe with dataset level metadata
schema.dataset.head()

,Source,Datatype,Field Name,Field Description,Field Type,Is Curated,Is Array
0,all,all,data_matrix_available,Data Matrix Available,boolean,False,False
1,all,all,curated_organism,Orgnism from which the samples were derived,text,False,True
2,all,all,src_uri,Unique URI derived from data file's S3 location,text,False,False
3,all,all,total_num_samples,Total number of samples in a dataset,integer,False,False
4,all,all,year,Year in which the dataset was published,text,False,False

In [6]:
#Fetch the dataframe with sample level metadata
schema.sample.head()

,Source,Datatype,Field Name,Field Description,Field Type,Is Array
0,all,all,growth_protocol_ch1,NA,text,False
1,all,all,src_uri,Unique URI derived from source data file's S3 ...,text,False
2,all,all,sample_id,Unique ID associated with every sample,text,False
3,all,all,curated_gene_modified,Gene modified through genetic modification,text,True
4,all,all,dose_ch1,NA,text,False

### Update schema of an Omixatlas

Data-admin can update the existing schema of an OmixAtlas.

omixatlas.update_schema(repo_key, payload)

In [ ]:
import json
repo_key = "demo_omixatlas"
payload = {
 "repo_id": "demo_omixatlas",
 "schema_type": "files",
 "created_time": 1649765088197,
 "enabled": True,
 "last_updated_time": 1650421685751,
 "schema": {
  "all": {
    "author": {
     "description": "Name of the author who published the dataset",
     "display_name": "Author",
     "filter_size": 1,
     "is_array": False,
     "is_column": False,
     "is_filter": False,
     "is_keyword": False,
     "original_name": "author",
     "type": "text"
    },
    "bucket": {
     "description": "S3 bucket in which the data file resides",
     "display_name": "Bucket",
     "filter_size": 2000,
     "is_array": False,
     "is_column": False,
     "is_filter": False,
     "is_keyword": True,
     "original_name": "kw_bucket",
     "type": "text"
    },
    "curated_cell_line": {
     "description": "Cell lines from which the samples were derived for this dataset",
     "display_name": "Cell line",
     "filter_size": 1000,
     "is_array": True,
     "is_column": True,
     "is_filter": True,
     "is_keyword": True,
     "original_name": "kw_cell_line",
     "type": "text"
    },
    "curated_cell_type": {
     "description": "Types of cell present in the dataset",
     "display_name": "Cell type",
     "filter_size": 1,
     "is_array": True,
     "is_column": True,
     "is_filter": False,
     "is_keyword": True,
     "original_name": "kw_cell_type",
     "type": "text"
    },
    "curated_disease": {
     "description": "Disease associated with the dataset",
     "display_name": "Disease",
     "filter_size": 3000,
     "is_array": True,
     "is_column": True,
     "is_filter": True,
     "is_keyword": True,
     "original_name": "disease",
     "type": "text"
    },
    "curated_drug": {
     "description": "Drugs administered in the samples belonging to the dataset",
     "display_name": "Drug",
     "filter_size": 3000,
     "is_array": True,
     "is_column": True,
     "is_filter": True,
     "is_keyword": True,
     "original_name": "kw_drug",
     "type": "text"
    },
    "curated_gene": {
     "description": "Gene studied in the dataset",
     "display_name": "Gene",
     "filter_size": 1,
     "is_array": True,
     "is_column": False,
     "is_filter": False,
     "is_keyword": True,
     "original_name": "kw_gene",
     "type": "text"
    },
    "curated_organism": {
     "description": "Orgnism from which the samples were derived",
     "display_name": "Organism",
     "filter_size": 1000,
     "is_array": True,
     "is_column": True,
     "is_filter": True,
     "is_keyword": True,
     "original_name": "organism",
     "type": "text"
    },
      "all": {
     "description": "Orgnism from which the samples were derived",
     "display_name": "Organism",
     "filter_size": 1000,
     "is_array": True,
     "is_column": True,
     "is_filter": True,
     "is_keyword": True,
     "original_name": "organism",
     "type": "text"
    }
   }
  }
 }

In [ ]:
omixatlas.update_schema("demo_omixatlas", payload)

### Insert schema to an Omixatlas

Data-admin can insert schema to an OmixAtlas.

omixatlas.update_schema(repo_key, payload)

In [ ]:
omixatlas.insert_schema("demo_omixatlas", payload)

## Query metadata to find datasets of interest

In [7]:
query = """SELECT dataset_id, total_num_samples, curated_disease, curated_tissue, year,description FROM geo.datasets 
            WHERE CONTAINS(curated_disease, 'Adenocarcinoma of Lung') AND 
            platform = 'RNASeq' AND total_num_samples > 20 ORDER BY year desc"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results.head()

Query execution succeeded (time taken: 2.06 seconds, data scanned: 2.724 MB)
Fetched 25 rows

,dataset_id,total_num_samples,curated_disease,curated_tissue,year,description
0,GSE126232_GPL16791,24,[Adenocarcinoma of Lung],[lung],2020,Molecular effects of ISRIB during asparagine d...
1,GSE110907_GPL11154,85,[Adenocarcinoma of Lung],[lung],2020,Identification of tumor suppressor microRNAs b...
2,GSE138757_GPL19057,36,[Adenocarcinoma of Lung],[lung],2020,Combined deletion of Glut1 and Glut3 impairs l...
3,GSE33858_GPL10999,62,"[Carcinoma, Non-Small-Cell Lung, Adenocarcinom...",[lung],2019,MicroRNA expression profiles in lung cancer ti...
4,GSE98048_GPL19057,192,"[Carcinoma, Non-Small-Cell Lung, Adenocarcinom...","[lung, peripheral blood]",2019,Single-cell profiling of tumor infiltrating T ...

In [14]:
query = """SELECT src_dataset_id, disease, protein_position, amino_acids, sequencer, impact, variant_class, consequence, name
        FROM tcga.features AS features
        
        JOIN (
        SELECT dataset_id AS dataset_id, curated_disease AS disease FROM tcga.datasets WHERE data_type LIKE 'Mutation'
         ) AS datasets
         ON features.src_dataset_id = datasets.dataset_id
         
         WHERE hugo_symbol IN ('TP53','PIK3CA','CDH1','GATA3') AND features.src_dataset_id LIKE '%BRCA%'
    ORDER BY features.src_dataset_id"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results.head()

Query execution succeeded (time taken: 34.60 seconds, data scanned: 12.670 MB)
Fetched 652 rows

,src_dataset_id,disease,protein_position,amino_acids,sequencer,impact,variant_class,consequence,name
0,BRCA_Mutation_TCGA-3C-AALI-01A-11D-A41F-09,['Breast Neoplasms'],183/393,S/*,Illumina HiSeq 2000,HIGH,SNV,stop_gained,TP53_c.548C>A
1,BRCA_Mutation_TCGA-3C-AALK-01A-11D-A41F-09,['Breast Neoplasms'],542/1068,E/K,Illumina HiSeq 2000,MODERATE,SNV,missense_variant,PIK3CA_c.1624G>A
2,BRCA_Mutation_TCGA-3C-AALK-01A-11D-A41F-09,['Breast Neoplasms'],1004/1068,M/I,Illumina HiSeq 2000,MODERATE,SNV,missense_variant,PIK3CA_c.3012G>T
3,BRCA_Mutation_TCGA-4H-AAAK-01A-12D-A41F-09,['Breast Neoplasms'],571/882,NaN,Illumina HiSeq 2000,HIGH,SNV,splice_donor_variant,CDH1_c.1711+1G>T
4,BRCA_Mutation_TCGA-5L-AAT0-01A-12D-A41F-09,['Breast Neoplasms'],23/882,Q/*,Illumina HiSeq 2000,HIGH,SNV,stop_gained,CDH1_c.67C>T

## Download data

To download any dataset, the following function can be used.

omixatlas.download_data("repo_key", "[dataset_id]")

The repo_key (repo_name OR repo_id) of an OmixAtlas can be identified by calling the get_all_omixatlas() function. The dataset_id can be obtained by querying the metadata at the dataset level using query_metadata shown above.

### Downloading .gct file and opening it in a data frame

In [13]:
dataset_id = "GSE100003_GPL15207" #dataset which user wants to download.
repo_key = "geo" #repo_id OR repo_name from which dataset should be downloaded from.
file_name = f"{dataset_id}.gct"
data = omixatlas.download_data(repo_key, dataset_id)
url = data.get('data').get('attributes').get('download_url')
status = os.system(f"wget -O '{file_name}' '{url}'")
if status == 0:
    print("Downloaded data successfully")
else:
    raise Exception("Download not successful")

Downloaded data successfully

In order to parse the .gct data, a python package called cmapPy can be used in the following manner.

### Downloading .h5ad file and opening it in a data frame

In [26]:
dataset_id = "GSE121001_GPL19057" #dataset which user wants to download.
repo_key = "sc_data_lake" #repo_id OR repo_name from which dataset should be downloaded from.
file_name = f"{dataset_id}.h5ad"
data = omixatlas.download_data(repo_key, dataset_id)
url = data.get('data').get('attributes').get('download_url')
status = os.system(f"wget -O '{file_name}' '{url}'")
if status == 0:
    print("Downloaded data successfully")
else:
    raise Exception("Download not successful")

Downloaded data successfully

### Downloading .vcf file and opening it in a data frame

In [22]:
dataset_id = "gnomad_v2.1.1_genome_TP53" #dataset which user wants to download.
repo_key = "gnomad" #repo_id OR repo_name from which dataset should be downloaded from.
file_name = f"{dataset_id}.vcf"
data = omixatlas.download_data(repo_key, dataset_id)
url = data.get('data').get('attributes').get('download_url')
status = os.system(f"wget -O '{file_name}' '{url}'")
if status == 0:
    print("Downloaded data successfully")
else:
    raise Exception("Download not successful")

Downloaded data successfully

The downloaded vcf file can be further analysed using the docker environment containing Hail package on Polly.

## Save data from Omixatlas to workspace

Users can download the data from an Omixatlas and save it to a workspace.

omixatlas.save_to_workspace(repo_id, dataset_id, workspace_id, workspace_path)

In [23]:
# Example to save the dataset_id 'GSE101127_GPL1355' from repo_id 1615965444377 to workspace_id 8025 in a folder named 'my_collection'

omixatlas.save_to_workspace('1615965444377', 'GSE101127_GPL1355', 8025, 'my_collection')

{'data': {'type': 'workspace-jobs',
  'id': '1615965444377/8025',
  'attributes': {'destination-gct': '8025/my_collection/GSE101127_GPL1355.gct',
   'destination-json': '8025/my_collection/GSE101127_GPL1355.json'}}}

## Data format converter functions

### .gct to .maf for Mutation datatype from cBioportal and TCGA Omixatlas

In [24]:
omixatlas.format_converter("cbioportal", "ACC_2019_Mutation_ACYC-FMI-19", "maf")